@import 'partials/fonts';

.game {
  background-color: #51597c;
  color: #f8f9fa;
  font: 400 1rem/1 'Nunito', sans-serif;
  height: 100vh;
  width: 100vw;

  /* Header */
  &__head {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 auto;
      text-align: center;
    }
  }

  /* Contents */
  &__main {
    outline: 0;
    width: 100%;

    /* Play */
    &__play {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto auto;
      justify-content: center;
      padding: 0 1rem;
      width: 100%;

      #player, #computer {
        background-color: #183153;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #fff;
        margin: 0.5rem 0;
        padding: 1rem;

        h2 {
          font-size: 1.375rem;
          line-height: 1.2;
          margin: 0 auto;
          text-align: center;
        }

        > div {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 100%;
          justify-content: center;

          div {
            margin: 0 auto;
            text-align: center;
          }

          button {
            appearance: none;
            background-color: #ffd43b;
            border-bottom-width: 0.25rem;
            border-color: rgba(0, 0, 0, 0.2);
            border-left-width: 0.0625rem;
            border-radius: 0.25rem;
            border-right-width: 0.0625rem;
            border-style: solid;
            border-top-width: 0.0625rem;
            color: #183153;
            cursor: pointer;
            outline: 0;
            transition: background-color 0.5s linear;

            &:active, &:focus, &:hover {
              background-color: #fab005;
            }

            &:active {
              border-top-width: 0.25rem;
              border-bottom-width: 0.0625rem;
            }
          }
        }
      }

      div {
        width: 100%;
      }
    }
  }
}