@import 'partials/fonts';

.game {
  background-color: #51597c;
  color: #f8f9fa;
  font: 400 1rem/1 'Nunito', sans-serif;
  height: 100vh;
  width: 100vw;

  /* Header */
  &__head {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 auto;
      text-align: center;
    }
  }

  /* Instructions */
  &__info {
    align-items: center;
    background-color: #f8f9fa;
    display: grid;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 0.5s linear,
                visibility 0.5s linear;
    width: 100%;

    div {
      h2 {
        color: #495057;
      }

      p {
        color: #000; // TODO
      }

      button {
        appearance: none;
        background-color: #228be6;
        border-bottom-width: 0.25rem;
        border-color: rgba(0, 0, 0, 0.2);
        border-left-width: 0.0625rem;
        border-right-width: 0.0625rem;
        border-style: solid;
        border-top-width: 0.0625rem;
        color: #f8f9fa;
        cursor: pointer;
        margin: 0 auto;
        outline: 0;
        transition: background-color 0.5s linear;

        &:active, &:focus, &:hover {
          background-color: #1c7ed6;
        }

        &:active {
          border-top-width: 0.25rem;
          border-bottom-width: 0.0625rem;
        }
      }
    }
  }

  /* Contents */
  &__main {
    outline: 0;
    width: 100%;

    /* Play */
    &__play {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto auto;
      justify-content: center;
      padding: 0 1rem;
      width: 100%;

      #player {
        background-color: #183153;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: #fff;
        margin: 0.5rem auto;
        max-width: 17.5rem;
        padding: 1rem;
        text-align: center;

        h3 {
          font-size: 1.375rem;
          line-height: 1.2;
          margin: 0 auto;
          text-align: center;
        }

        > div {
          column-gap: 1rem;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 100%;
          justify-content: center;
          margin: 1rem auto 0 auto;

          div {
            margin: 0 auto;
          }

          button {
            appearance: none;
            background-color: #ffd43b;
            border-bottom-width: 0.25rem;
            border-color: rgba(0, 0, 0, 0.2);
            border-left-width: 0.0625rem;
            border-radius: 0.25rem;
            border-right-width: 0.0625rem;
            border-style: solid;
            border-top-width: 0.0625rem;
            color: #183153;
            cursor: pointer;
            height: 4.5rem;
            max-width: 4.5rem;
            outline: 0;
            transition: background-color 0.5s linear;
            width: 100%;

            &:active, &:focus, &:hover {
              background-color: #fab005;
            }

            &:active {
              border-top-width: 0.25rem;
              border-bottom-width: 0.0625rem;
            }

            i {
              font-size: 2rem;
            }
          }
        }
      }

      div {
        width: 100%;
      }
    }
  }
}

strong {
  font-weight: 600;
}